<div class="px-4">
  <%= render(BreadcrumbsComponent.new(bread_keys: [:notebooks_bread])) %>
  <% if @notebooks.empty? %>
    <%= t('notebook_pages.there_is_no_notebook') %>
  <% end %>

  <ul class="menu">
    <% @notebooks.each do |notebook| %>
      <li>
        <%= link_to(notebook_path(notebook)) do %>
          <%= render(IconComponent.new(:note, class: "size-4")) %>
          <%= notebook.name %>
          <small class="text-slate-500"><%= t('button.open') %></small>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to(t('notebook_pages.new'), new_notebook_path, class: "btn btn-outline") %>
</div>
