<div class="px-4">
  <%= render(BreadcrumbsComponent.new(bread_keys: [:notebooks_bread])) %>
  <% if @notebooks.empty? %>
    <%= t('notebook_pages.there_is_no_notebook') %>
  <% end %>

  <ul class="menu rounded-box">
    <% @notebooks.each do |notebook| %>
      <li>
        <%= link_to(notebook_pages_path(notebook)) do %>
          <%= notebook.name %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to(t('notebook_pages.new'), new_notebook_path, class: "btn btn-outline") %>
</div>
