<div class="px-4">
  <%= render(BreadcrumbsComponent.new(current_notebook: @notebook, bread_keys: [:notebooks_bread, :notebook_bread])) %>
  <div class="pt-4">
    <% @notebook.pages.each do |page| %>
      <%= link_to(edit_page_path(page)) do %>
        <p class="proxima-notebook hover:dark:bg-slate-900 hover:bg-slate-100" id="<%= page.id %>">
          <%= page.content %>
        </p>
      <% end %>
    <% end %>

    <%= link_to(new_notebook_page_path(@notebook)) do %>
      <p class="proxima-notebook hover:dark:bg-slate-900 hover:bg-slate-100 flex items-center justify-center text-slate-500">
        <%= render(IconComponent.new(:plus, class: "size-6")) %>
        <span class="pl-2"><%= t('button.new') %></span>
      </p>
    <% end %>

    <% (9 - @notebook.pages.size).times do %>
      <p class="proxima-notebook">
      </p>
    <% end %>
  </div>

  <div class="pt-4">
    <%= link_to(t('notebook_pages.edit'), edit_notebook_path, class: "btn btn-outline") %>
  </div>
</div>
