<div class="p-4">
  <h2 class="text-xl"><%= t('devise.pages.mail_confirmation') %></h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "label-text" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input input-bordered" %>
    </div>

    <div class="flex space-x-4 mt-4">
      <%= f.submit(t("button.send_me_confirmation_mail"), class: "btn btn-primary btn-outline") %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
