<table>
  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.display_order %></td>
      <td><%= idea.emote %></td>
      <td width="400"><%= idea.body %></td>
      <td><%= idea.created_at.to_date %></td>
      <td><%= link_to("edit", edit_idea_path(idea)) %></td>
      <td><%= link_to("destroy", idea_path(idea), data: { turbo_method: :delete }) %></td>
    </tr>
  <% end %>
</table>

<%= link_to("new", new_idea_path) %>
