<%= form_with(model: @housework) do |f| %>
  <div class="space-y-4">
    <div class="form-control">
      <%= f.label(:content, class: "label-text pb-4") %>
      <%= f.text_area(:content, class: "textarea textarea-bordered h-32") %>
    </div>

    <div class="form-control">
      <%= f.label(:display_order, class: "label-text pb-4") %>
      <%= f.number_field(:display_order, class: "input input-bordered") %>
    </div>

    <div>
      <% @housework.housework_logs.order(worked_at: :desc).each do |housework_log| %>
        <%= fields_for(housework_log) do |ff| %>
          <div class="flex space-x-4 items-end">
            <div>
              <%= ff.hidden_field(:id) %>
              <%= ff.label(:worked_at, class: "block label-text") %>
              <%= ff.date_field(:worked_at, class: "input input-bordered", disabled: true) %>
            </div>
            <div>
              <%= ff.label(:memo, class: "block label-text") %>
              <%= ff.text_field(:memo, class: "input input-bordered", disabled: true) %>
            </div>
            <div>
              <%= turbo_destroy_link_to(path: housework_log_path(housework_log), confirm: false, class: "btn") %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="pt-4">
      <%= f.submit(class: "btn btn-wide btn-primary") %>
      <%= link_to(t('button.cancel'), :back, class: "btn btn-wide") %>
    </div>
  </div>
<% end %>
