<div class="grid grid-cols-1 lg:grid-cols-3">
  <% @houseworks.each do |housework| %>
    <div class="card bg-base-100 w-96" id="<%= housework.id %>">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <h2 class="card-title">
            <a href="#<%= housework.id %>">
              <small>
                <%= housework.content.truncate(14) %>
              </small>
            </a>
          </h2>
          <div>
            <small class="text-neutral-600">
              <%= t('housework_pages.days_since_last_done', count: housework.days_since_last_done || "-") %>
            </small>
          </div>
        </div>
        <div>
          <div>
            <%= housework.content if housework.content.length > 14 %>
          </div>
        </div>

        <div class="card-actions">
          <%= form_with(model: housework.housework_logs.build(worked_at: Date.current)) do |f| %>
            <%= f.hidden_field(:housework_id) %>
            <div class="join">
              <%= f.date_field(:worked_at, class: "input-xs join-item") %>
              <%= f.submit(t('button.done'), class: "btn btn-outline btn-xs join-item") %>
            </div>
            <%= link_to(t('button.edit'), edit_housework_path(housework), class: "btn btn-outline btn-xs") %>
            <%= turbo_destroy_link_to(path: housework_path(housework), confirm: housework.content.present?, class: "btn btn-outline btn-xs") %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
