<div class="px-4">
  <h1 class="text-2xl my-4">User Settings</h1>

  <div class="flex">
    <div class="w-32"><b>Email:</b></div>
    <div><%= @user.email %></div>
  </div>

  <div class="flex">
    <div class="w-32"><b>Settings:</b></div>
    <div>
      <%= form_with(model: @user, url: "#") do |f| %>
        <%= fields_for(@user.user_setting) do |ff| %>
          <div>
            <%= ff.label :housework_tool_enabled, class: "label-text" %>
            <%= ff.check_box :housework_tool_enabled, class: "checkbox", disabled: true %>
          </div>
          <div>
            <%= ff.label :creative_tool_enabled, class: "label-text" %>
            <%= ff.check_box :creative_tool_enabled, class: "checkbox", disabled: true %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
