<table class="table">
  <% dots.each do |dot| %>
    <tr>
      <td><%= dot.display_order %></td>
      <td><%= dot.category_icon %></td>
      <td width="400"><%= dot.content %></td>
      <td>
        <% hidden_columns.exclude?(:projects) && dot.projects.each do |project| %>
         <div><%= project.title %></div>
        <% end %>
      </td>
      <td><%= dot.updated_at.to_date %></td>
      <td><%= link_to("edit", edit_dot_path(dot), class: "btn btn-sm") %></td>
      <td><%= turbo_destroy_link_to(path: dot_path(dot), confirm: dot.content.present?) %></td>
    </tr>
  <% end %>
</table>
