<table class="table">
  <% ideas.each do |idea| %>
    <tr>
      <td><%= idea.display_order %></td>
      <td><%= idea.emote_icon %></td>
      <td width="400"><%= idea.body %></td>
      <td>
        <% hidden_columns.exclude?(:projects) && idea.projects.each do |project| %>
         <div><%= project.title %></div>
        <% end %>
      </td>
      <td><%= idea.updated_at.to_date %></td>
      <td><%= link_to("edit", edit_idea_path(idea), class: "btn btn-sm") %></td>
      <td><%= link_to("destroy", idea_path(idea), class: "btn btn-sm", data: { turbo_method: :delete }) %></td>
    </tr>
  <% end %>
</table>
