<% @productions.each do |product| %>
  <div>
    <%= product.id %>
    <%= product.title %>
    <%= product.media %>
    <%= product.description %>
    <%= product.release_date %>
    <%= link_to("edit", edit_production_path(product)) %>
    <%= link_to("destroy", production_path(product), data: { turbo_method: :delete }) %>
  </div>
<% end %>

<%= link_to("new", new_production_path) %>
