<ul class="menu rounded-box">
  <% @notebooks.each do |notebook| %>
    <li>
      <%= link_to(edit_notebook_path(notebook)) do %>
        <%= notebook.name %>
        <% if notebook == current_notebook %>
          <span class="text-primary">
            (current notebook)
          </span>
        <% end %>
      <% end %>
      <ul>
        <% notebook.dots.each do |dot| %>
          <li>
            <%= link_to(edit_dot_path(dot), class: "min-h-8") do%>
              <div class="badge badge-outline"><%= dot.category %></div>
              <%= dot.content.truncate(40) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
