<%= form_with(model: @page) do |f| %>
  <div class="space-y-4">
    <%= f.hidden_field(:notebook_id) %>

    <div class="form-control">
      <%= f.label(:content, class: "label-text") %>
      <%= f.text_area(:content, class: "textarea textarea-bordered") %>
    </div>

    <div class="form-control">
      <%= f.label(:display_order, class: "label-text") %>
      <%= f.number_field(:display_order, class: "input input-bordered") %>
    </div>

    <div class="pt-4">
      <%= f.submit(class: "btn btn-primary btn-outline") %>
      <%= turbo_destroy_link_to(path: page_path(@page), confirm: @page.content.present?, class: "btn btn-outline") if @page.persisted? %>
      <%= link_to(t('button.cancel'), notebook_path(@page.notebook), class: "btn btn-outline") %>
    </div>
  </div>
<% end %>
