<div class="px-4">
  <%= render(BreadcrumbsComponent.new(current_notebook: @notebook, bread_keys: [:notebooks_bread, :pages_bread])) %>
</div>

<div class="flex space-x-4 px-4">
  <%= link_to(t("button.edit_note"), edit_notebook_path(id: @notebook.id), class: "btn btn-primary btn-outline") %>

  <%= form_with(method: :get) do |f| %>
    <div class="join">
      <%= f.select(:category, Page.categories, { selected: params[:category], include_blank: true }, { class: "select select-bordered join-item" }) %>
      <%= f.submit("ðŸ”", class: "btn join-item") %>
    </div>
  <% end %>
</div>

<div class="pt-4 px-4">
  <% @pages.each do |page| %>
    <div class="py-2" id="<%= page.id %>">
      <%= link_to(edit_page_path(page), class: 'min-h-6 w-full block') do %>
        <%#= render('shared/icon', type: :page) %>
        <%= page.content %>
      <% end %>
    </div>
  <% end %>
  <%= link_to(t("button.new_page"), new_notebook_page_path(category: params[:category]), class: "link link-primary") %>
</div>
