<h2><%= @project.title %></h2>

<div style="display: flex; align-items: center;">
  <h3>Dots</h3> / <%= link_to("new", dots_path) %>
</div>
<%= render("shared/dot_table", dots: @project.dots, hidden_columns: [:projects]) %>
<%= link_to("new", dots_path(project_id: @project.id), data: { turbo_method: :post }) %>

<div style="display: flex; align-items: center;">
  <h3>Characters</h3> / <%= link_to("new", new_character_path(project_id: @project.id)) %>
</div>
<%= render("shared/character_table", characters: @project.characters, hidden_columns: [:projects]) %>

<div style="display: flex; align-items: center;">
  <h3>Parts</h3> / <%= link_to("new", new_project_part_path(project_id: @project.id)) %>
</div>
<%= render('shared/project_part_table', project_parts: @project.project_parts, hidden_columns: [:project]) %>
