<div class="p-4">
  <h2 class="text-xl"><%= t("devise.pages.login")%></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="space-y-4">
      <div class="field">
        <%= f.label :email, class: "label-text" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "label-text" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "checkbox" %>
          <%= f.label :remember_me, class: "label-text" %>
        </div>
      <% end %>

      <div class="flex space-x-4">
        <%= f.submit(t("button.sign_in"), class: "btn btn-primary") %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
