<div class="flex justify-between">
  <%= link_to("New Dot", dots_path(category: params[:category]), data: { turbo_method: :post }, class: "btn btn-primary") %>

  <%= form_with(method: :get) do |f| %>
    <%= f.select(:category, Dot.categories, { selected: params[:category], include_blank: true }, { class: "select select-bordered" }) %>
    <%= f.submit("Search", class: "btn") %>
  <% end %>
</div>

<div class="p-2">
  <%= render('shared/dot_table', dots: @dots, hidden_columns: [:projects])%>
</div>
