<%= form_with(method: :get) do |f| %>
  <%= f.select(:category, Dot.categories, { selected: params[:category], include_blank: true }, { class: "select select-bordered" }) %>
  <%= f.submit("Search", class: "btn") %>
<% end %>

<div class="p-2">
  <%= render('shared/dot_table', dots: @dots, hidden_columns: [:projects])%>
</div>

<%= link_to("new", dots_path, data: { turbo_method: :post }, class: "btn") %>
