<!DOCTYPE html>
<html>
  <head>
    <title>Proxima</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- https://daisyui.com/docs/cdn/ -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="max-w-screen min-h-screen relative">
    <%= render(HeaderComponent.new) %>

    <main>
      <% if flash.alert %>
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <%= flash.alert %>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <footer class="footer bg-base-200 absolute bottom-0 left-0">
      <% if signed_in? %>
        <nav>
          <div>
            廃止検討中
            <%= link_to('root', root_path) %> |
            <%= link_to('projects', projects_path) %> |
            <%= link_to('project_parts', project_parts_path) %> |
            <%= link_to('characters', characters_path) %> |
          </div>
        </nav>
        <% end %>
      </footer>
  </body>
</html>
