<!DOCTYPE html>
<html>
  <head>
    <title>Proxima</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header style="margin-bottom:2em;">
      <%= link_to(root_path) do %>
        <h1>Proxima</h1>
      <% end %>

      <nav>
        <% header_context[:workspaces].each do |workspace| %>
          <% if workspace == current_workspace %>
            [<%= workspace.name %>]
          <% else %>
            <%= link_to(workspace.name, current_workspace_path(id: workspace.id), data: { turbo_method: :put }) %>
          <% end %>
          |
        <% end %>
        <%= link_to('new', new_workspace_path)%> |
        <%= link_to('edit', edit_workspace_path(current_workspace)) %>
      </nav>
    </header>

    <main style="margin-left:1em;">
      <% if flash.alert %>
        <p style="color:red">
          <%= flash.alert %>
        </p>
      <% end %>

      <%= yield %>
    </main>

    <footer style="margin-top:2em;">
      <% if signed_in? %>
        <nav>

          <%= link_to('ideas', ideas_path) %> |
          <%= link_to('sign out', destroy_user_session_path, data: { turbo_method: :delete }) %>

          <div>
            廃止検討中
            <%= link_to('root', root_path) %> |
            <%= link_to('tree', tree_path) %> |
            <%= link_to('user', user_path) %> |
            <%= link_to('projects', projects_path) %> |
            <%= link_to('project_parts', project_parts_path) %> |
            <%= link_to('characters', characters_path) %> |

          </div>
        </nav>
        <% end %>
      </footer>
  </body>
</html>
